*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#clock{
    font-size: 6rem;   
}